<section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading" style="font-family: Muli,Helvetica,Arial,sans-serif;">Discover what all the buzz is about!</h2>
          <p style="font-family: Muli,Helvetica,Arial,sans-serif;">Our app is available on any mobile device! Download now to get started!</p>
          <div class="badges">
            <a class="badge-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.gotostock.market_tips"><img src="img/google-play-badge.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta">
      <div class="cta-content">
        <div class="container">
          <h2>Stop waiting.<br>Start building.</h2>
          <a href="http://upstox.com/open-account/?f=99JV" target="_blank" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>