<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <section class="masthead text-center" id="home">
            <div class="masthead">
                <div class="panel panel-default" style="text-align: center">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><span class="lead" style="font-weight:bold"><b>GoToStock (Happy Investment. Happy Trading!)</b></span></div>
                    <ul class="lead"  style="font-size:16px; margin: 10px">
                        <div>Daily INTRADAY Calls For Traders</div>
                        <div>MULTIBAGGER Stock Ideas For Investors</div>
                    </ul>  
                    
                <div class="panel-body">
                  <div class="table-responsive">
                    
                    <table style="padding-left: 12px" class="table table-hover" id="table_messages">
                            <tbody>
                            <tr *ngFor="let u of peoples">
                                <td align="center" style="font-size: 15px;color: #fdcc52; font-weight:normal; padding-left: 12px;"><a style="color: #fdcc52;" href="{{u.url}}" target="_blank" >{{u.content}}</a></td>
                            </tr>
                            <tr>
                                <td style="border-top: 1px !important" align="center" id="link_bar">
                                     <a  href="https://api.whatsapp.com/send?phone=916361059258&text=REGISTERWEB" target="_blank"><img src="img/click_here_message.gif"></a>
                                    </td>
                                <tr>  
                                <tr>  
                                    <td align="center" style="border-top: 1px !important">
                                    <a href="https://zerodha.com/open-account?c=ZMPAVT" target="_blank"><img src="img/open-zerodha-account.gif"></a>
                                  </td>
                            </tr>
                            
                            <tr>  
                                    <td align="center" style="border-top: 1px !important" >
                                    <a href="http://upstox.com/open-account/?f=99JV" target="_blank"><img src="img/open-upstox-account.gif"></a>
                                  </td>
                            </tr>
                            
                            
                            </tbody>
                        </table>
                  </div>
                </div>
                </div>
            </div>
        </section>
       
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device" style="margin-top: 20px">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img  src="img/demo-screen-1.jpg" class="img-fluid" alt="">
              </div>
            </div>
              
          </div>
          <div align="center" style="margin-top: 25px">
              <a  href="http://upstox.com/open-account/?f=99JV" class="btn btn-outline btn-xl js-scroll-trigger" target="_blank">Start Now for Free!</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</header>

<section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading" style="font-family: Muli,Helvetica,Arial,sans-serif;">Discover what all the buzz is about!</h2>
          <p style="font-family: Muli,Helvetica,Arial,sans-serif;">Our app is available on any mobile device! Download now to get started!</p>
          <div class="badges">
            <a class="badge-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.gotostock.market_tips"><img src="img/google-play-badge.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta">
      <div class="cta-content">
        <div class="container">
          <h2>Stop waiting.<br>Start building.</h2>
          <a href="http://upstox.com/open-account/?f=99JV" target="_blank" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>