<header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <section class="masthead text-center" id="home">
              <div class="masthead">
                  
                  <div class="panel panel-default">
          
                      <div class="panel-body">
                        <div class="table-responsive" style="padding: 25px">
                          <label style="font-size:20px; font-weight:bold;">HAPPY INVESTMENT. HAPPY TRADING!</label>
                          <div><span style=" font-size:20px;">GoToStock is Web and Android mobile App which provides:</span></div>
                              <ul style="color:#fdcc52; font-size:20px; margin: 10px; font-weight:normal;">
                            <li>Daily INTRADAY Calls For Traders</li>
                            <li>MULTIBAGGER Stock Ideas For Investors</li>
                          </ul> 
            
                          <label style="color: #fdcc52;  font-size:20px; font-weight:normal;">Get Updates for The Day or Pick Of The Day</label>
                          <ol style="text-align: left">
                            <li style=" font-size:20px;">Get Instant Notification</li>
                            <li style=" font-size:20px;">Live support on WhatsApp and Telegram</li>
                          </ol> 
                          
                          <label style="color: #fdcc52; font-size:20px; font-weight:normal;">GoToStock is live now in both Web and Mobile (Android) version</label>
                          <br>
                          <label style="color: #fdcc52; font-size:20px; font-weight:bold">Web URL:</label>
                          <a style="color: #fdcc52; font-size:20px; font-weight:normal;" href="http://www.gotostock.club">http://www.gotostock.club</a>
                          <br>
                          <label style="color: #fdcc52; font-size:20px; font-weight:bold">Mobile Version: <a style="color: #000000; font-size:20px; font-weight:normal;" href="https://play.google.com/store/apps/details?id=com.gotostock.market_tips"> Android App Link:</a></label>
                          <br>
                          <a style="color: #fdcc52; font-size:20px; font-weight:normal;" href="https://play.google.com/store/apps/details?id=com.gotostock.market_tips">https://play.google.com/store/apps/details?id=com.gotostock.market_tips</a>
                          
                        
                          <label style="color:#FFFFFF; margin: 10px; font-weight:normal">For any further queries, please mail us at gotostocks@gmail.com</label>
                        </div>
                      </div>
                    </div>
                  
              </div>
          </section>
         
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device" style="margin-top: 20px">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <ul class="lead" style="font-size:16px; margin: 10px">
                      <li style="font-size:20px; font-weight:normal;">Group and One to One Chatting Platform</li>
                      <br>
                      <li style="font-size:20px; font-weight:normal;">Daily INTRADAY Calls For Traders</li>
                      <br>
                      <li style="font-size:20px; font-weight:normal;">MULTIBAGGER Stock Ideas For Investors</li>
                      <br>
                      <li style="font-size:20px; font-weight:normal;">Intraday Trading</li>
                      <br>
                      <li style="font-size:20px; font-weight:normal;">Short Term Investment</li>
                      <br>
                      <li style="font-size:20px; font-weight:normal;">Long Term Investment</li>
                      <br>
                      <li style="font-size:20px; font-weight:normal;">BTST</li>
                      
                    </ul>
                </div>
              </div>
                
            </div>
            <div align="center" style="margin-top: 25px">
                <a  href="http://upstox.com/open-account/?f=99JV" class="btn btn-outline btn-xl js-scroll-trigger" target="_blank">Start Now for Free!</a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </header>
  
  <section class="cta">
      <div class="cta-content">
        <div class="container">
          <h2>Stop waiting.<br>Start building.</h2>
          <a href="http://upstox.com/open-account/?f=99JV" target="_blank" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading" style="font-family: Muli,Helvetica,Arial,sans-serif;">Discover what all the buzz is about!</h2>
          <p style="font-family: Muli,Helvetica,Arial,sans-serif;">Our app is available on any mobile device! Download now to get started!</p>
          <div class="badges">
            <a class="badge-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.gotostock.market_tips"><img src="img/google-play-badge.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
