<section class="bg-primary text-center" id="about">
    <div class="container">
        <div class="panel panel-default">
          
          <div class="panel-body">
            <div class="table-responsive" style="padding: 25px">
              <label style="color: #2b4b83; font-size:20px; font-weight:normal;">HAPPY INVESTMENT. HAPPY TRADING!</label>
              <div><span style=" font-size:20px;">GoToStock is Web and Android mobile App which provides:</span></div>
                  <ul style="color:#2b8341; font-size:20px; margin: 10px; font-weight:normal;">
                <li>Daily INTRADAY Calls For Traders</li>
                <li>MULTIBAGGER Stock Ideas For Investors</li>
              </ul> 

              <label style="color: #000000; font-size:20px; font-weight:normal;">It is very comprehensive Indian stock app for BSE/NSE on Android. This app gives the Intraday / Short Term / Long Term Stock recommendations which helps
                  traders and investers to buy / sell appropriate stocks. We try to give the Stock suggestions after observing the Market trend of Indian Share Market.</label>
              
              
              <label style="color: #2b4b83;  font-size:20px; font-weight:normal;">Get Indian stock Tips for The Day or Pick Of The Day</label>
              <ol>
                <li style=" font-size:20px;">Intraday Trading</li>
                <li style=" font-size:20px;">Short Term Investment</li>
                <li style=" font-size:20px;">Long Term Investment</li>
                <li style=" font-size:20px;">BTST</li>
                <li style=" font-size:20px;">Get Instant Notification</li>
                <li style=" font-size:20px;">Live support on WhatsApp and Telegram</li>
              </ol> 
              
              <label style="color: #2b4b83; font-size:20px; font-weight:normal;">GoToStock is live now in both Web and Mobile (Android) version</label>
              <br>
              <label style="color: #2b8341; font-size:20px; font-weight:bold">Web URL:</label>
              <a style="color: #2b8341; font-size:20px; font-weight:normal;" href="http://www.gotostock.club">http://www.gotostock.club</a>
              <br>
              <label style="color: #2b8341; font-size:20px; font-weight:bold">Mobile Version: <a style="color: #2b8341; font-size:20px; font-weight:normal;" href="https://play.google.com/store/apps/details?id=com.gotostock.market_tips"> Android App Link:</a></label>
              <br>
              <a style="color: #2b8341; font-size:20px; font-weight:normal;" href="https://play.google.com/store/apps/details?id=com.gotostock.market_tips">https://play.google.com/store/apps/details?id=com.gotostock.market_tips</a>
              
              <label style="color: #000000; font-size:20px; font-weight:normal">Please recommend your friends and help giving good ratings in Google Play Store to make it popular.</label>
              
              <label style="color: #2b8341; font-size:20px; font-weight:bold">Newly created Telegram channel: </label>
              
              <label style="color: #2b8341; font-size:20px; font-weight:normal"><a style="color: #2b8341; font-size:20px; font-weight:normal;" href="https://t.me/gotostock">  https://t.me/gotostock</a></label>
              <br>
              <br>
              <label style="color:#827272; margin: 10px; font-weight:normal">For any further queries, please mail us at gotostocks@gmail.com</label>
            </div>
          </div>
        </div>
      </div>
  </section>