<section class="bg-primary text-center" id="disclaimer">
    <div class="container">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          
          <div class="panel-body">
            <div class="table-responsive"
              style="font-weight: normal">
              <label style="color: #2b8341; font-size: 16px; font-weight: normal;">According
                to SEBI guidelines: We are Not SEBI Registered. GoToStock
                Site/Application has been designed for informational and
                educational purposes only and does not constitute an offer to sell
                nor a solicitation of an offer to buy any security / stocks which
                may be referenced upon the web site/Application. The services and
                information provided through this web site/Application are for
                personal, non-commercial, educational use and display. The
                accuracy, completeness and timeliness of the information contained
                on this site / Application cannot be guaranteed. We do not give
                promise of any sure income/return/profit as intraday trading can be
                risky too. All information given here is largely based on the trend
                which is highly dynamic in nature and relevant only at a particular
                point of time. Users are advised to pursue these recommendations
                only at their own risk and should consult their personal investment
                advisor before making investment decisions. We are not liable and
                we will not take any responsibility for any loss that you incur by
                trading/investing on our views. Details given here are only for
                educational purpose only. GoToStock site / Application is not
                responsible for any losses incurred by acting on the our
                recommendations or our view. You should be aware of risk in trading
                using our recommendations. Investors are advised to take the
                services of a competent 'Investment Adviser', before making any
                investment decision. The targets expressed are based on analysis
                and does not guarantee success. The use of this app is at your own
                risk. *GoToStock* is not responsible for any losses. All data and
                details given are for educational purpose only.</label> 
                 
                <p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions unless otherwise defined in this Privacy Policy.</p>
                  <p><strong>Information Collection and Use</strong></p>
                  <p>For a better experience while using our Service, we may require you to provide us with certain
                  personally identifiable information, including but not limited to [add whatever else you collect here, e.g. users name | address | location | pictures].
                  The information that we request is retained on your device and is not
                  collected by us in any way .will be retained by us and used as described in this privacy policy.</p>
                  <p>The app does use third party services that may collect information used to identify you like google firebase and admob for advertising</p>.
                  <p><strong>Log Data</strong></p>
                  <p>We want to inform you that whenever you use our Service, in case of an error in the app we collect
                  data and information (through third party products) on your phone called Log Data. This Log Data
                  may include information such as your devices Internet Protocol address, device name,
                  operating system version, configuration of the app when utilising [my|our] Service, the time and date
                  of your use of the Service, and other statistics.</p>
                  <p><strong>Cookies</strong></p>
                  <p>Cookies are files with small amount of data that is commonly used an anonymous unique identifier.
                  These are sent to your browser from the website that you visit and are stored on your devices'
                  internal memory.</p>
                  <p><!-- Check if this is true for your app, if unsure, just assume that you do use cookies and modify this next line -->This Services does not uses these cookies explicitly. However, the app may use third party code
                  and libraries that use cookies to collection information and to improve their services. You
                  have the option to either accept or refuse these cookies, and know when a cookie is being sent
                  to your device. If you choose to refuse our cookies, you may not be able to use some portions of
                  this Service.</p>
                  <p><strong>Service Providers</strong></p>
                  <p>We may employ third-party companies and individuals due to the following reasons:</p>
                  <ul>
                  <li>To facilitate our Service;</li>
                  <li>To provide the Service on our behalf;</li>
                  <li>To perform Service-related services; or</li>
                  <li>To assist us in analyzing how our Service is used.</li>
                  </ul>
                  <p>We want to inform users of this Service that these third parties have access to your Personal
                  Information. The reason is to perform the tasks assigned to them on our behalf. However, they
                  are obligated not to disclose or use the information for any other purpose.</p>
                  <p><strong>Security</strong></p>
                  <p>We value your trust in providing us your Personal Information, thus we are striving to use
                  commercially acceptable means of protecting it. But remember that no method of transmission over
                  the internet, or method of electronic storage is 100% secure and reliable, and we cannot
                  guarantee its absolute security.</p>
                  <p><strong>Links to Other Sites</strong></p>
                  <p>This Service may contain links to other sites. If you click on a third-party link, you will be
                  directed to that site. Note that these external sites are not operated by us. Therefore, I
                  strongly advise you to review the Privacy Policy of these websites. I have no control over, and
                  assume no responsibility for the content, privacy policies, or practices of any third-party
                  sites or services.</p>
                  <p><strong>Children's Privacy</strong></p>
                  <p>This Services do not address anyone under the age of 13. We do not knowingly collect personal
                  identifiable information from children under 13. In the case we discover that a child under 13
                  has provided us with personal information, we immediately delete this from our servers. If you
                  are a parent or guardian and you are aware that your child has provided us with personal
                  information, please contact us so that we will be able to do necessary actions.</p>
                  <p><strong>Changes to This Privacy Policy</strong></p>
                  <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page
                  periodically for any changes. We will notify you of any changes by posting the new Privacy Policy
                  on this page. These changes are effective immediately, after they are posted on this page.</p>
                  <p><strong>Contact Us</strong></p>
                <label
                style="color: #827272; font-size: 14px; margin: 10px; font-weight: normal">For
                any further queries, please mail us at gotostocks@gmail.com</label>
            </div>
          </div>
        </div>
      </div>
  </section>