<section class="bg-primary text-center" id="disclaimer">
    <div class="container">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          
          <div class="panel-body">
            <div class="table-responsive"
              style="font-weight: normal">
              <label style="color: #2b8341; font-size: 16px; font-weight: normal;">According
                to SEBI guidelines: We are Not SEBI Registered. GoToStock
                Site/Application has been designed for informational and
                educational purposes only and does not constitute an offer to sell
                nor a solicitation of an offer to buy any security / stocks which
                may be referenced upon the web site/Application. The services and
                information provided through this web site/Application are for
                personal, non-commercial, educational use and display. The
                accuracy, completeness and timeliness of the information contained
                on this site / Application cannot be guaranteed. We do not give
                promise of any sure income/return/profit as intraday trading can be
                risky too. All information given here is largely based on the trend
                which is highly dynamic in nature and relevant only at a particular
                point of time. Users are advised to pursue these recommendations
                only at their own risk and should consult their personal investment
                advisor before making investment decisions. We are not liable and
                we will not take any responsibility for any loss that you incur by
                trading/investing on our views. Details given here are only for
                educational purpose only. GoToStock site / Application is not
                responsible for any losses incurred by acting on the our
                recommendations or our view. You should be aware of risk in trading
                using our recommendations. Investors are advised to take the
                services of a competent 'Investment Adviser', before making any
                investment decision. The targets expressed are based on analysis
                and does not guarantee success. The use of this app is at your own
                risk. *GoToStock* is not responsible for any losses. All data and
                details given are for educational purpose only.</label> 
                 
                <label
                style="color: #827272; font-size: 14px; margin: 10px; font-weight: normal">For
                any further queries, please mail us at gotostocks@gmail.com</label>
            </div>
          </div>
        </div>
      </div>
  </section>